<%= form_for @post do |f| %>
  <%= f.label :blogger_id, "Blogger" %>
  <%= f.collection_select :blogger_id, Blogger.all, :id, :name %><br/>
  <%= f.label :destination_id, "Destination" %>
  <%= f.collection_select :destination_id, Destination.all, :id, :name %><br/>
  <%= f.label :title %>
  <%= f.text_field :title %><br/>
  <%= f.label :content %>
  <%= f.text_area :content %><br/>
  <%= f.submit %>
<% end %>

<% unless @post.errors.full_messages.empty? %>
  <h2>Form submission failed because:</h2>
  <ul>
    <% @post.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
